{
  box-sizing: border-box;
}
html, body, section, div {
  height: 100%;
}

body { 
  color: #fff;
  font-family: Open Sans;
  line-height: 150%;
  text-align: left;
}

section {
  width: 100%;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 1rem;
  text-align: justify;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2.75rem;
  margin: -12.75rem 0 1.75rem 2.0rem;
}

p {
 font-size: 16px;	
 margin: 0 0 0 2.0rem;
}

img {
 height: 100px;
 width: 100px;
 margin: 2.75rem 0.5rem 0 2.75rem;
}

h2 {
 margin: -4.0rem 0 2.0rem 2.0rem;	
}

h5 {
 display: inline-block;
 vertical-align: middle;	
}

.ust-benavides-text-position {
 margin-top: 3.0rem;
}

.user-input {
  color: white;	
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  margin: 0 0 2.0rem 2.0rem;
}

.login-button-style {
 color: #ffce00;
 background-color: white;	
 margin: 0 0 0 2.0rem;
 padding: 9px 29px;
 border-width: 0px;
 outline: none;
 transition-duration: 0.4s;
}

.login-button-style:hover {
	background-color: #023564; 
    color: white;
    cursor: pointer;
}

::-webkit-input-placeholder { 
  color: white;
}

a {
 font-size: 13px;	
 margin-left: 20px;
 color: white;
 transition-duration: 0.4s;	
}

a:hover {
 text-decoration: none;
 color: #023564;	
}

/* Pattern styles */
.left-half {
  background-color: #023564;
  float: left;
  width: 60%;
}
.right-half {
  background-color: #ffce00;
  float: left;
  width: 40%;
}