/* MAIN CSS*/

/* Body */
body {
  background-color: #98AFC7;
  font-family: Open Sans; }

/* Main Container */
.main-container {
  width: 100%;
  padding: 0px; }


/* Background Color: Grey */
.bg-grey {
  background-color: #ebebeb; }

/* Background Color: Yellow */
.bg-yellow {
  background-color: #ffce00; }

/* Background Color: Blue */
.bg-blue {
  background-color: #0072bc; }

/* Background Color: Navy Blue */
.bg-navyblue {
  background-color: #023564; }

/* Background Color: Red */
.bg-red {
  background-color: #ed1c24; }


/* Text Align: Center */
.text-center {
  text-align: center; }

/* Text Align: Right */
.text-right {
  text-align: right; }


/* Button */
.btn {
  border-radius: 0px;
  text-transform: uppercase;
  color: white;
  font-weight: bold; }

.button-container {
  margin-bottom: 20px; }


/* Banner */
.header {
	padding: 10px;
 	color: white;
 	letter-spacing: 0.6px;
 	margin: 0px; 
 }
.header h4 {
	margin-bottom: 5px; 
}
.header__logo--size {
	width: 73px;
    height: 72px;
    margin-right: -15px;
}    
.header__bannertitle--position {
	position: absolute;
	margin-left: 100px;	
}
/* End of Banner */   
    
/* Navbar Old 
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffce00; }
  .navbar-nav li {
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    letter-spacing: 0.7px; }
    /* .navbar-nav li:hover {
      background-color: #F0F; } 
  .navbar-nav li .active {
    background-color: #e9bc00; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #e9bc00; } 
 */

.sidebar-container {
  background-color: #023564;
  height: 100%; }

.sidebar {
  position: relative;
  margin-top: 150px; }

.nav-stacked {
  margin: 0px 5px 0px 5px;	
  background-color: #ebebeb;
  padding: 0px;
  min-height: 310px;
  margin-bottom: 20px; 
  overflow-y: auto; }
  .nav-stacked li > a:hover {
    background-color: #d7d7d7; }
.nav-stacked__usermngmt {
  margin: 0px 5px 0px 5px;	
  background-color: #ebebeb;
  padding: 0px;
  min-height: 350px;
  margin-bottom: 20px; 
  overflow-y: auto; }
.nav-stacked__archpat {
  margin: 0px 5px 0px 5px;	
  background-color: #ebebeb;
  padding: 0px;
  min-height: 400px;
  margin-bottom: 20px; 
  overflow-y: auto; }  
/* Add Encoder Button */
.add-box {
  bottom: 0;
  z-index: 2;
  padding: 0px 20px 20px 20px;
   }
/* Add Encoder Button */   

.search-box {
  padding: 20px; }
  .search-box input, .add-box input {
    width: 100%;
    margin-bottom: 0px; }
  .search-box .btn, .add-box .btn {
    width: 100%;
    letter-spacing: 0.7px; }

.nav-tabs {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: bold;  }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #003664;
  color: white; 
}

.tab-content {
  background-color: #f8f8f8;
  margin-bottom: 50px; }
  .tab-content .tab-pane {
    padding: 30px; }

.forms {
  margin-top: 25px;
  padding: 0px 20px; } 
  
/* Settings Forms */
.settings__buttons--position {
	margin-top: 25px;
	margin-left: 10px;
}  

.visit {
  padding: 30px 0px; }
  .visit ul {
    font-size: 0px;
    padding: 0px;
    width: 100%; }
    .visit ul li {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      padding: 10px 30px; }
      .visit ul li:hover {
        background-color: #ffce00; }

input[type="submit"] {
  margin-bottom: 50px; }
  
/* User Management and Archived Patients Table CSS */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
 	border: 3px solid #98AFC7;
 	text-align: center;   
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:nth-child(odd){background-color: #f2f2f2;}

/* #customers tr:hover {background-color: #ddd;} */

tr, th, td {
    cursor: pointer;
}

/* th Color*/
th {
	background-color: #023564;
	color: #FFF;
}

/* User Management__Add Encoder Pop Up Attributes */ 
.cd-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
 
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
 
.cd-popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
  background-color: #f2f2f2;
  
}

 
.is-visible .cd-popup-container {
  transform: translateY(0);
}

/* Modal Position: Center */
.centered-modal.in {
    display: flex !important;
}
.centered-modal .modal-dialog {
    margin: auto; 
}


.baseline__buttons-state { /* Initial State of Buttons Before Valid Inputs */
	visibility: hidden;
} /* End  */


/* Barcode Icon Size */
.form__barcodeicon--size {
	width: 30px;
	height: 30px;
}

.buttons__firsthalf--position {
	margin-left: -10px;
}

.usermanagement__dropdown--size {
	width: 10px;
	height: 10px;
}
  
.tab-content__border {
	border-style: inset;
	border-color: #ffce00;
	border-width: 6px;
}  
.button-border {
	border-style: outset;
	border-color: #ffce00;
	border-width: 5px;
}
.edtdelbtn-border {
	border-style: outset;
	border-color: #ffce00;
	border-width: 2px;
}
.form-control {
	border-style: inset !important;
	border-color: #ffce00 !important;
	border-width: 3px;
	color: #0C090A; 
}
.sidebar__searchbox--border {
	border-style: inset !important;
	border-color: #ffce00 !important;
	border-width: 4px;
	color: #0C090A;
}
.sidebar__addptngenrep--border {
	border-style: outset !important;
	border-color: #ffce00 !important;
	border-width: 3px;
}
/* Barcode Button */
.body__barcodebtn--style {
	 margin-top: 5px;
	 border-style: inset;
	 border-color: #ffce00;
	 border-width: 2px;
	 padding: 2px;
}

/* Profile Page Forms Adjustment */
.forms__profile {
  margin-top: 150px;
  padding: 0px 20px; }
/* End */

/* AUDIT TRAIL CSS*/
	.auditsettings__buttons--position {
		padding-top: 180px;
	}
	
	/* TABLE LOADER CSS */
	.table-loader{
   visibility:hidden;
	}
	.table-loader:before {
	    visibility:visible;
	    display:table-caption;
	    content: " ";
	    width: 100%;
	    height: 600px;
        background-image: linear-gradient( rgba(235, 235, 235, 1) 1px, transparent 0 ),
	        linear-gradient(90deg, rgba(235, 235, 235, 1) 1px, transparent 0 ),
	       linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0) 30% ),
	       linear-gradient( rgba(240, 240, 242, 1) 35px, transparent 0 );
	  background-repeat: repeat;
	  background-size: 1px 35px, calc(100% * 0.1666666666) 1px, 30% 100%,  2px 70px;
	  background-position: 0 0, 0 0, 0 0, 0 0;
	  animation: shine 0.5s infinite;
	}
	
		@keyframes shine {
			to {
				background-position: 0 0, 0 0, 40% 0, 0 0;
			}
		}
	/* END OF TABLE LOADER CSS */
	
	/* GENERATE AUDIT REPORT BUTTON CSS */
	.genrepbtn--style {
		color: #FFF;
        padding: 5px 10px;
        margin-left: 5px;
		border-width: 2px;
		border-style: outset;
		transition-duration: 0.4s;
		background-color: #023564;
	}
	.genrepbtn--style:hover {
		background-color: #008000;
	}
	/* END OF GENERATE AUDIT REPORT BUTTON CSS */
/* END OF AUDIT TRAIL CSS*/

/* DASHBOARD CSS */
	.tab-content__dashboard {
    	background-color: #98AFC7;
    	padding: 10px;
	}
	
	/* IMAGE BORDER */
	.pic {
	  border: 10px solid #ffce00;  
	  float: left;
	  height: 200px;
	  width: 200px;
	  margin: 10px;
	  overflow: hidden;
	  
	  -webkit-box-shadow: 5px 5px 5px #111;
	          box-shadow: 5px 5px 5px #111;  
	}
	/* MORPH IMAGE */
	.morph {
	  -webkit-transition: all 0.5s ease;
	     -moz-transition: all 0.5s ease;
	       -o-transition: all 0.5s ease;
	      -ms-transition: all 0.5s ease;
	          transition: all 0.5s ease;
	}	 
	.morph:hover {
	  cursor: pointer;
	  border-radius: 50%;
	  -webkit-transform: rotate(360deg);
	     -moz-transform: rotate(360deg);
	       -o-transform: rotate(360deg);
	      -ms-transform: rotate(360deg);
	          transform: rotate(360deg);
	}
	/* BLUR IMAGE */
	.blur img {
	  -webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
	}
	.blur img:hover {
	  -webkit-filter: blur(5px);
	}
	/* MODAL: CAROUSEL CONTROL */
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
.modal__glyphicon--color {
	color: #FFCE00;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #ffff99;
}
.genrepmodal__checkboxgroup--position {
	margin-top: 7px;
}
.carousel-label {
	text-align: center;
}
.genrepmodal__checkboxes {
	padding-right: 20px;
}
/* END OF DASHBOARD CSS */

/* END OF MAIN CSS */



